@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<StudentViewModel>

    <div>Hello Admin!</div>

@foreach (var s in Model)
{   
    <div>Student: @s.FirstName @s.LastName</div>
    <div>Grade: @s.Grade</div>
}