@model  StudentListViewModel
@{
    ViewData["Title"] = "Student";
}
@ViewBag.AccessLevel

<h2>Students</h2>

@if (Model.AccessLevel < 2)
{
<p>"You do not have access"</p>
}
else if (Model.AccessLevel < 8)
{
    @await Html.PartialAsync("_accesslevel2plus", Model.Students);        
}
else
{
    @await Html.PartialAsync("_accesslevel8plus", Model.Students); 
}